
@{
    ViewBag.Title = "ReservationOrderView";

}


<script src="~/Scripts/bootLegJS.js"></script>
<div id="list-inject">

</div>

<script>
    function ReservationOrderList()
    {
        $.ajax({
            url: '/Reservation/ReservationOrderList',
            type: 'get',
            success: function (result) {
                $("#list-inject").html(result)

                $(".remove-reserOrder-button").click(function () {
                    var thisId = $(this).parents("tr").find("#dataid").text();
                    removeBtnClick('/Reservation/ReservationOrderRemove', thisId, ReservationOrderList);
                    //$.ajax({
                    //    url: '/Reservation/ReservationOrderRemove',
                    //    type: 'post',
                    //    data: {Id : thisId},
                    //    success: function (result) {
                    //        ReservationOrderList()
                    //    }
                    //})
                })

                $(".add-reserOrder-button").click(
                    function () {
                    var thisId = 0;
                    saveUpdatePopup('/Reservation/ReservationOrderEntry', thisId, "Add"
                        , "Add new Reservation Order"
                        , '/Reservation/ReservationOrderEntid'
                        , ReservationOrderList);
                    }
                )

                $(".edit-reserOrder-button").click(
                    function () {
                    var thisId = $(this).parents("tr").find("#dataid").text();
                    saveUpdatePopup('/Reservation/ReservationOrderEntry', thisId, "Update"
                        , "Update Reservation Order"
                        , '/Reservation/ReservationOrderEntid'
                        , ReservationOrderList);
                    }
                )

                
                
            }
        })
    }

    $("document").ready(function () { ReservationOrderList()});
</script>

