
@{
    ViewBag.Title = "ReservationView";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<div id="list-inject">
    <h1>1324567890</h1>
</div>
<h1>13245678912313120</h1>
<script>
    function reservationListLoad()
    {
        $.ajax({
                url: '/Reservation/ReservationList',
                type: 'get',
                success: function (result)
                {
                    $("#list-inject").html(result);
                    $(".add-Reservation-button").click
                    (
                        function()
                        {
                            ReservationEntry(0)
                        }
                        
                    )
                    $(".edit-reservation-btn").click
                    (
                        function () {
                            var recordId = $(this).parents("tr").find("#dataid").text();
                            ReservationEntry(recordId)
                        }

                    )
                    $(".remove-reservation-btn").click
                    (
                        function ()
                        {
                            var recordId = $(this).parents("tr").find("#dataid").text();
                            reservationRemove(recordId, '/Reservation/ReservationRemove');
                        }
                    )
                    function reservationRemove(reserRecordId, actionUrl)
                    {
                        $.ajax({
                            url: actionUrl,
                            type: 'post',
                            data: { Id: reserRecordId },
                            success: function (result) {
                                reservationListLoad();
                            }
                        })
                    }
                    function ReservationEntry(reserRecordId) {
                        $.ajax({
                            url: "/Reservation/ReservationEntryView",
                            type: "post",
                            data: { rId: reserRecordId },
                            success: function (result) {
                                PopShow(result, "Add", "New Reservation");
                                $(".save-changes-btn").click
                                     (
                                        function () { SaveUpdateBtnClick("/Reservation/ReservationEntied") }
                                     )
                            }
                        })
                    }
                    function SaveUpdateBtnClick(actionUrl)
                    {
                        var x = $("#edit-student-form").serialize();
                        $.ajax({
                            url: actionUrl,
                            type: 'post',
                            data: x,
                            success: function (result)
                            {
                                $(".modal-title").val("");
                                $("#Pop-model").modal("hide");
                                reservationListLoad();
                            }

                        })

                    }
                    
                    function PopShow(result, saveText, modalText) {
                        $("#edit-student-form").html(result);

                        $(".close-btn").html("Cancel");
                        $(".save-changes-btn").html(saveText);

                        $(".modal-title").text(modalText);
                        $("#Pop-model").modal("show");
                    }
                }
        })
    }
    $("document").ready(function () {
        reservationListLoad();
    });
</script>
