
@{
    ViewBag.Title = "ReservationView";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<div id="list-inject">

</div>
<script>
    function reservationListLoad()
    {
        $.ajax({
                url: '/Reservation/ReservationList',
                type: 'get',
                success: function (result)
                {
                    $("#list-inject").html(result);

                    $(".add-Reservation-button").click(function(){
                            saveUpdatePopup('/Reservation/ReservationEntryView'
                               , 0, "Add", "Add New Reservation"
                               , '/Reservation/ReservationEntied'
                               , reservationListLoad);
                    })

                    $(".edit-reservation-btn").click (function () {
                            var recordId = $(this).parents("tr").find("#dataid").text();
                            saveUpdatePopup('/Reservation/ReservationEntryView'
                                , recordId, "Update", "Update Reservation"
                                , '/Reservation/ReservationEntied'
                                , reservationListLoad);
                    })

                    $(".remove-reservation-btn").click(function (){
                            var recordId = $(this).parents("tr").find("#dataid").text();
                            removeComfirm('/Reservation/ReservationRemove'
                                , recordId, reservationListLoad);
                    })

                }
        })
    }
    $("document").ready(function () {
        reservationListLoad();
    });
</script>
