
@{
    ViewBag.Title = "TableView";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<div id="list-inject">
    <h1>1324567890</h1>
</div>
<h1>13245678912313120</h1>
<body onload="TableListLoad()">

</body>
    <script>
    function TableListLoad()
    {
    $.ajax(
            {
                url: '/Reservation/TableList',
                type: 'get',
                success: function (result)
                {

                    $("#list-inject").html(result);
                    $(".remove-table-button").click
                    (
                        function ()
                        {
                            var thisId = $(this).parents("tr").find("#dataid").text();
                            alert(thisId);
                            $.ajax(
                                    {
                                        url: '/Reservation/TableRemove',
                                        type: 'post',
                                        data: { Id: thisId },
                                        success: function(result)
                                        {
                                            TableListLoad()
                                        }
                                    }
                                )
                        }
                    )

                    $(".add-table-button").click
                    (
                        function ()
                        {
                            var tId = 0;
                            //alert(tId);
                            $.ajax(
                                   {
                                       url: '/Reservation/TableEntry',
                                       type: 'post',
                                       data: { Idd: tId },
                                       success: function (result) {
                                           //console.log(Idd);
                                           console.log(result);
                                           $("#Id").val(tId);
                                           $("#Id").hidden = true;

                                           $("#PopModal-p1").show();

                                           $("#PopModal-p2-label").text("No. of Seats");
                                           $("#PopModal-p2").show();

                                           $("#PopModal-p3-label").text("Description");
                                           $("#PopModal-p3").show();
                                           //var seatSelect = $("#Seat");
                                           

                                           $(".close-btn").html("Cancel");
                                           $(".save-changes-btn").html("Add");
                                           $("#Description").val("");
                                           
                                           $(".modal-title").text("Add New Table");
                                           $("#Pop-model").modal("show");
                                           $(".save-changes-btn").click
                                            (
                                                function ()
                                            {
                                                var x = $("#edit-pop-form").serialize();
                                                alert(typeof(x));
                                                $.ajax(
                                                        {
                                                            url: '/Reservation/TableEntied',
                                                            type: 'post',
                                                            data: {x:x},
                                                            success: function (result) {
                                                                $("#PopModal-p1-input").val("");
                                                                $("#PopModal-p1").hide();

                                                                $("#PopModal-p2-input").val("");
                                                                $("#PopModal-p2").hide();

                                                                $("#PopModal-p3-input").val("");
                                                                $("#PopModal-p3").hide();
                                                                //var seatSelect = $("#Seat");

                                                                $(".modal-title").val("");
                                                                $("#Pop-model").modal("hide");
                                                                TableListLoad();
                                                            }
                                                        }
                                                    )
                                            }
                                            )
                                       }
                                   }
                               )
                           
                        }
                    )
                    $(".edit-table-button").click
                    (
                        function ()
                        {
                            var selectId = $(this).parents("tr").find("#dataid").text();
                            $.ajax(
                                    {
                                        url: '/Reservation/TableEntry',
                                        type: 'post',
                                        data: { Idd: selectId },
                                        success: function (result)
                                        {
                                            console.log(result);
                                            $("#Id").val(selectId);
                                            $("#Id").hidden = true;

                                            $("#PopModal-p1-input").val(result.TableName);

                                            $("#PopModal-p2-input").val(result.Seats);

                                            $("#PopModal-p3-input").val(result.Description);

                                            $("#PopModal-p1").show();
                                            $("#PopModal-p1-label").text("TaskName");
                                            $("#PopModal-p2-label").text("No. of Seats");
                                            $("#PopModal-p2").show();

                                            $("#PopModal-p3-label").text("Description");
                                            $("#PopModal-p3").show();
                                            //var seatSelect = $("#Seat");


                                            $(".close-btn").html("Cancel");
                                            $(".save-changes-btn").html("Update");
                                            $("#Description").val("");

                                            $(".modal-title").text("Add New Table");
                                            $("#Pop-model").modal("show");
                                            $(".save-changes-btn").click
                                           (
                                               function () {
                                                   var x = $("#edit-pop-form").serialize();
                                                   //alert(typeof (x));
                                                   $.ajax(
                                                           {
                                                               url: '/Reservation/TableEntied',
                                                               type: 'post',
                                                               data: { x: x },
                                                               success: function (result) {
                                                                   $("#PopModal-p1-input").val("");
                                                                   $("#PopModal-p1").hide();

                                                                   $("#PopModal-p2-input").val("");
                                                                   $("#PopModal-p2").hide();

                                                                   $("#PopModal-p3-input").val("");
                                                                   $("#PopModal-p3").hide();
                                                                   //var seatSelect = $("#Seat");

                                                                   $(".modal-title").val("");
                                                                   $("#Pop-model").modal("hide");
                                                                   TableListLoad();
                                                               }
                                                           }
                                                       )
                                               }
                                           )
                                        }

                                    }
                                )
                        }
                    )
                }
            }
        )
    }
    </script>
