
@{
    ViewBag.Title = "TableView";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootLegJS.js"></script>
<div id="list-inject">
</div>
    <script>
    function tableListLoad()
    {
    $.ajax({
                url: '/Reservation/TableList',
                type: 'get',
                success: function (result)
                {
                    $("#list-inject").html(result);

                    $(".remove-table-button").click(function () {
                        var thisId = $(this).parents("tr").find("#dataid").text();
                        removeComfirm('/Reservation/TableRemove', thisId, tableListLoad);
                    })

                    $(".add-table-button").click(function () {
                        saveUpdatePopup('/Reservation/TableEntryView'
                            , 0, "Add", "Add New Table"
                            , '/Reservation/TableEntied'
                            , tableListLoad);
                    })
                    
                    $(".edit-table-button").click(function (){
                            var tId = $(this).parents("tr").find("#dataid").text();
                            saveUpdatePopup('/Reservation/TableEntryView'
                                , tId, "Update", "Update New Table"
                                , '/Reservation/TableEntied'
                                , tableListLoad);
                    })

                }
            })
        }
        $("document").ready(function () {
            tableListLoad();
        });
    </script>
