@model BootLeg.Models.PersonListModel
@{
    ViewBag.Title = "StaffManagement";
}

<h2>StaffManagement</h2>


<table class="table table-bordered table-striped">

    <tr>
        
        
        
            
    </tr>
    @foreach (var sm in @Model.)
    {
        <tr>
            
          
        </tr>
    }

</table>

